# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
venv/
.venv/
miniconda3/
opt/miniconda3/

# Data files (if large)
data/

# VS Code
.vscode/

# Mac files
.DS_Store

# Jupyter
.ipynb_checkpoints/